body {
    background: #3A4454;
    font-family: Roboto;
}
svg {
    fill: #6B4E71;
    font-family: inherit;
}

.exit {
    fill: #53687E;
}

svg .labels line,
svg .labels path  {

    stroke: #53687E;
}

svg text {
    fill: #53687E;

}